@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

body  {
    background-color: white;
    margin: 0px;
}

p, figcaption, ol  {
    font: normal 14px "IBM Plex Sans", sans-serif;
    color: black;
}

nav  {
    overflow: hidden;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a  {
    text-decoration: none;
    color: black;
    font: italic bold 24px "Playfair Display", serif; /* mention font license */
    text-align: center;
    padding-top: 100%;
    padding-bottom: 100%;
    flex-basis: 130px;
}

nav a:hover  {
    background-color: #efebce;
}

nav a.active  {
    /*this colour is unsuitable -- another colour will have to be added to the palette!*/
}

.logo-link-top  {
    text-decoration: none;
    background-color: black;
}

main  {
    background-color: #efebce;
}

article header  {
    background-color: white;
}

.big-title  {
    font: 24px "IBM Plex Serif", serif;
}

footer  {
    background-color: white;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section h2  {
    font: 18px "IBM Plex Serif", serif;
    color: black;
}